.ChatMessage-div{
    padding : 1%;
    position: relative;
}

.ChatMessage-UserInfo-div{
    display: flex;
    align-items: center;
    width: 30%;
    gap : 3%
}

.ChatMessage-UserIcon{
    color: whitesmoke;
    font-size: large;
    padding: 3.5% 5%;
    border-radius: 100%;
    background-color: brown;
}

.ChatMessage-Message-maindiv{
    display: flex;
    align-items: center;
    gap: 2%;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
    margin-left: 5%;
    margin-top: -1%;
    padding: 0.8%;
    font-size: medium;
    font-weight: 400;
    background-color: white;
    border-radius: 0px 10px 10px 10px;
}

.ChatMessage-Message-div{
    width: 90%;
}