.App {
  text-align: center;
  padding: 3%;
  border : 2px solid black;
  border-radius: 10px;
  margin: 3% 3% 0% 3%;
}

:root{
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;
}

.ChatMessage-Main-div{
  overflow-y: auto;
  background-color: rgb(245, 243, 243);
  text-align: start;
  border-radius: 20px;
  height: 400px;
  scrollbar-width: 12px;
}

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
  scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-track {
  background: var(--scroll-bar-bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 20px;
  border: 3px solid var(--scroll-bar-bg-color);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
